.theme-header-navbar {
    background-color: #393e46;
}

.theme-header-navbar-link {
    color: #fffc;
}

.theme-header-navbar-link:hover {
    color: #FFF;
}

.theme-under-header-links-text {
    color: #6c757d;
}

.theme-under-header-links-text:hover {
    color: #343a40;
}

.theme-article-list-title-top {
    background-color: #dc3f33;
    color: #FFF;
}

.theme-article-list-title-category {
    background-color: #00adb5;
    color: #FFF;
}

.theme-article-list-title-text {
    color: #343a40;
}

.theme-article-list-description-text {
    color: #6c757d;
}

.theme-article-list-read-date-text {
    color: #6c757d;
}

.theme-first-text {
    color: #343a40;
}

.theme-second-text {
    color: #6c757d;
}

.theme-tag {
    background-color: #6c757d;
    color: #FFFFFF;
}

.theme-tag:hover {
    background-color: #393e46;
    color: #FFFFFF;
}

.theme-category {
    border-color: #6c757d;
    color: #6c757d;
}

.theme-category:hover {
    background-color: #6c757d;
    color: #FFFFFF;
}